.productsArea{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20px;
    background-color: aqua;
    
}
.Prod{
    background-image: url("../Assets/fundo.png");
    height: 300px;
    width:250px;
    border:2px solid rgb(14, 19, 20);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 50px;

}


.button{
    font-size: 70px;
    padding-top: 5px;
    padding: 1px;
    color: rgb(16, 125, 214);
    background:transparent;
    border: none;
}
